body{
    background-color: FFFFFF;
    margin:0;
    font-weight: 400;
    color: 15161A;
    font-family: Helvetica Neue, sans-serif;
  }
  
  h1{
  font-weight: 400;
  font-size: 2vw;
  color: 15161A;
  font-family: 'Hedvig Letters Serif', Times, serif;
  }
  
  h2{
  font-size: 1.8vw;
  font-weight: 500;
  color: 15161A;
  font-family: Helvetica Neue, sans-serif;
  }
  
  h3{
    font-size: 1.5vw;
    font-weight: 500;
    margin: 0;
    /* line-height: 200%; */
    padding-top: 1vw;
    padding-bottom: 0.5vw;
    color: 15161A;
    font-family: Helvetica Neue, sans-serif;
  }
  
  p{
    font-size: 1.1vw;
    font-weight: 400;
    color: 15161A;
    line-height: 145%;
    font-family: Helvetica Neue, sans-serif;
    margin:0;
    margin-top: 0.8vw;
  }
  
  a{
    font-style: italic;
    text-decoration: none;
  }
  
  html {
  scroll-behavior: smooth;
  }
  
  #linebreak{
    width:60vw;
    height: 0px; 
    border: 0.1vw #D6CEC6 solid;
    border-radius: 0.15vw; 
    position:relative;
    top: -0.15vw;
    /* margin-left: 20vw; */
    margin-top: 5vw;
    margin-bottom: 5vw;
  }
  
  #bold{
    font-weight: 800;
  }
  
  .pic-shadow{
    box-shadow: -0.1vw 0.1vw 1vw rgba(83, 51, 19, 0.40); 
    border-radius: 0.7vw;
    overflow:hidden;
  }
  
  
  /* ------------------------------ */
  /* ------------ MENU ------------ */
  /* ------------------------------ */
  .menu {
    width: 100vw; 
    height:2vw; 
    min-height: 20px;
    padding-top: 2vw; 
    padding-bottom: 1vw; 
    padding-left: 15vw; 
    padding-right: 15vw; 
    background: rgb(255, 255, 255); 
    justify-content: center; 
    align-items: center; 
    display: inline-flex;
    position: fixed;
    z-index: 10;
  }
  
  .menu h2{
    font-size: 1.5vw;
  }
  
  .menu-left{
    width: 10vw; 
    justify-content: flex-start; 
    align-items: center; 
    display: flex;
    position:fixed;
    left: 3vw;
  }
  
  .menu-right{
    justify-content: flex-start; 
    align-items: center; 
    gap: 3vw; 
    display: flex;
    position:fixed;
    right: 0vw;
    margin-right: 3vw;
  }
  
  .menu a{
    font-style: normal;
  }
  
  .menu a:hover{
    font-style: italic;
  }
  
  
  #home {
    width: 5vw; 
    height: 4vw; 
    bottom: 0;
    overflow: hidden;
    position:relative;
    display:flex;
    word-wrap: break-word;
    justify-content: center;
    align-items: flex-end;
    text-align:center;
  }
  
  #select {
    width: 10vw; 
    height: 0px; 
    border: 0.15vw #15161A solid;
    position:absolute;
    bottom: 0;
  }
  
  .right-item {
    width: 10vw; 
    height: 4vw; 
    overflow: hidden;
    position:relative;
    bottom: 0;
    display:flex;
    word-wrap: break-word;
    justify-content: center;
    align-items: flex-end;
    text-align:center;
  }


/* ------------------------------ */
/* ----------- BLOCKS ----------- */
/* ------------------------------ */


#case-container{
    justify-content: flex-start; 
    align-items: center; 
    gap: 5vw; 
    display: inline-flex;
    padding-left: calc((100vw - 20vw - 20vw - 20vw - 5vw - 5vw) / 2);
    padding-top: 10vw;
}

.case{
    width: 20vw; 
    padding-top: 15vw; 
    box-shadow: 1px 2px 4px 3px rgba(0, 0, 0, 0.1); 
    border-radius: 0.5vw; 
    overflow: hidden; 
    /* border: 0.1vw solid; */
    background-size: contain;
    flex-direction: column; 
    align-items: center; 
}

#explorer{
    background-image: url('./images/explorermock.png'); 
    background-position-x: center;
    background-position-y: -0.7vw;
    background-size: 65%;
    background-repeat: no-repeat;
    background-color: #fbe7f8;
}


#pathatpenn{
    background-image: url('./images/p@pmock.png'); 
    background-color: D7DBEB;
}

.case-text{
    align-self: stretch; 
    padding-left: 1.2vw; 
    padding-right: 1vw; 
    padding-top: 0vw; 
    padding-bottom: 1vw; 
    background: white; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    /* gap: 15px;  */
    display: inline-flex;
}

.case-text h3{
    font-size: 1.2vw;
    margin-bottom: -0.5vw;
}

.case-text h2{
    font-size: 0.8vw;
    font-weight: 400;
    color: #606060;
    margin-bottom: 0vw;
}

.case-text p{
    font-size: 0.9vw;
    font-weight: 400;
}
