body{
  background-color: FFFFFF;
  margin:0;
  font-weight: 400;
  color: 15161A;
  font-family: Helvetica Neue, sans-serif;
}

h1{
font-weight: 400;
font-size: 4vw;
color: 15161A;
font-family: 'Hedvig Letters Serif', Times, serif;
}

h2{
font-size: 2.3vw;
font-weight: 500;
color: 15161A;
font-family: Helvetica Neue, sans-serif;
}

h3{
  font-size: 1.8vw;
  font-weight: 500;
  margin: 0;
  color: 15161A;
  font-family: Helvetica Neue, sans-serif;
}

p{
  font-size: 1.4vw;
  font-weight: 400;
  color: 15161A;
  font-family: Helvetica Neue, sans-serif;
  margin:0;
  margin-top: 0.8vw;
}

a{
  font-style: italic;
  text-decoration: none;
}

html {
scroll-behavior: smooth;
}

#linebreak{
  width:80vw;
  height: 0px; 
  border: 0.15vw #D6CEC6 solid;
  border-radius: 0.15vw; 
  position:relative;
  top: -0.15vw;
  margin-left: 10vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

#bold{
  font-weight: 800;
}


/* ------------------------------ */
/* ------------ MENU ------------ */
/* ------------------------------ */
.menu {
  width: 100vw; 
  height:2vw; 
  min-height: 20px;
  padding-top: 2vw; 
  padding-bottom: 1vw; 
  padding-left: 15vw; 
  padding-right: 15vw; 
  background: rgb(255, 255, 255); 
  justify-content: center; 
  align-items: center; 
  display: inline-flex;
  position: fixed;
  z-index: 10;
}

.menu h2{
  font-size: 1.5vw;
}

.menu-left{
  width: 10vw; 
  justify-content: flex-start; 
  align-items: center; 
  display: flex;
  position:fixed;
  left: 3vw;
}

.menu-right{
  justify-content: flex-start; 
  align-items: center; 
  gap: 3vw; 
  display: flex;
  position:fixed;
  right: 0vw;
  margin-right: 3vw;
}

.menu a{
  font-style: normal;
}

.menu a:hover{
  font-style: italic;
}


#home {
  width: 5vw; 
  height: 4vw; 
  bottom: 0;
  overflow: hidden;
  position:relative;
  display:flex;
  word-wrap: break-word;
  justify-content: center;
  align-items: flex-end;
  text-align:center;
}

#select {
  width: 10vw; 
  height: 0px; 
  border: 0.15vw #15161A solid;
  position:absolute;
  bottom: 0;
}

.right-item {
  width: 10vw; 
  height: 4vw; 
  overflow: hidden;
  position:relative;
  bottom: 0;
  display:flex;
  word-wrap: break-word;
  justify-content: center;
  align-items: flex-end;
  text-align:center;
}

/* ------------------------------ */
/* ------ CASE STUDY COVER ------ */
/* ------------------------------ */

.container{
  width: 100vw; 
  height:40vw;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center; 
  display: inline-flex;

}

#cover{
  background-color: #F3F0EE;
  height:45vw;
}

#break{
  height: 3vw;
}

#cs-cover{
  align-self: center; 
  width:60vw; 
  padding-top: 2vw;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 0vw; 
  display: flex;
}

#cs-cover h1{
  font-size: 4vw;
}

#cs-cover-body{
  width:60vw;
  align-self: center; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 0vw; 
  display: inline-flex;
}

#cs-cover-left{
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  bottom:0;
  display: inline-flex;
}

.cs-cover-item{
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  width:15vw;
  margin-bottom: 1vw;
}


.cs-cover-item p{
  align-self: stretch; 
  color: #404451; 
  font-family: Helvetica Neue; 
  font-weight: 400; 
  line-height: 2vw; 
  word-wrap: break-word;
  margin-top: 0.2vw;
}

.cs-cover-item h3{
  color: #404451; 
}

.cs-cover-right{
  flex: 1 1 0;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: left; 
  width: calc(60vw - 15vw);
  gap: 2vw; 
  display: inline-flex;
}

.cs-cover-right p{
  color: #404451;  
  word-wrap: break-word;
  font-weight: 350;
  margin: 0;
  line-height: 1.5vw;
}
#cs-cover-imgs{
  margin-top: 1vw;
  width: 60vw; 
  position: relative;
}

#left-img{
  width: 20vw; 
  left: 2vw; 
  top: 0; 
  position: absolute; 
  box-shadow: -4px 4px 5.699999809265137px rgba(83, 51, 19, 0.40); 
  border-radius: 0.5vw;
  overflow: hidden;
}

#left-img img{
  width:100%;
}

#right-img{
  width: 20vw;
  left: 18vw; 
  top:4vw; 
  position: absolute; 
  box-shadow: -4px 4px 5.699999809265137px rgba(83, 51, 19, 0.40);
  border-radius: 0.5vw;
  overflow: hidden;
}

#right-img img{
  width:100%;
}


/* ------------------------------ */
/* ---------- OVERVIEW ---------- */
/* ------------------------------ */

#overview{
  padding-top: 4vw;
  width: 60vw; 
  justify-content: left; 
  align-items: center; 
  gap: 7vw; 
  display: inline-flex;
  line-height: 1.5vw;
  /* background-color: red; */
}

#overview-left{
  width:28vw;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  display: inline-flex;
}

#overview-left h3{
  padding-bottom: 0.5vw;
}

#problem{
  align-self: stretch; 
  flex-direction: column; 
  justify-content: flex-start;
  align-items: flex-start; 
  display: flex;
}

#goals{
  margin-top: 4vw;
  align-self: stretch; 
  flex-direction: column; 
  justify-content: flex-start;
  align-items: flex-start; 
  display: flex;
}


#overview h2{
  font-size: 1.7vw;
  margin:0;
  margin-bottom: 0.4vw;
}

#overview-right{
  width: 20vw; 
  padding-top: 1vw; 
  padding-bottom: 1.5vw;
  padding-left: 1.5vw; 
  padding-right: 1.5vw; 
  background: #F3F0EE; 
  border-radius: 0.5vw; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  display: inline-flex;
}

#overview-right h3{
  margin-bottom:0.5vw;
  color: #573514
}

/* ------------------------------ */
/* ----------- PROCESS ---------- */
/* ------------------------------ */


#process-title{
  margin-left: -45vw;
}

#initial-research{
  margin-top: -2vw;
  width: 60vw; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 3vw; 
  display: inline-flex;
}

#interviews-research{
  align-self: stretch; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: left; 
  gap: 0vw; 
  display: flex;
}

#user-interviews{
  align-self: stretch;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: flex-start; 
  gap: 0.5vw;
  display: flex;
}


#figjam-imgs{
  width: 27vw; 
  justify-content: center;
  align-items: center; 
  align-self: center;
  gap: 2vw; 
  display: inline-flex;
}

#figjam-imgs img{
  width: 100%;
  border-radius: 0.5vw; 
  border: 0.15vw #CEBAA6 dotted;
  border-radius: 0.5vw; 
  border: 0.15vw #CEBAA6 dotted;
}

.arrow {
  width: 0;
  height: 0;
  border-top: 1vw solid transparent;
  border-bottom: 1vw solid transparent;
  border-left: 2vw solid #CEBAA6 ;
}

#research-synthesis{
  align-self: stretch; 
  /* height: 441px;  */
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center; 
  gap: 2vw; 
  display: flex;
}

#research-synthesis-text{
  align-self: stretch; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 2vw; 
  display: flex;
  margin-top: 3vw;
}

#research-synthesis-text p{
  margin-top: -0.5vw;
}

#synthesis-boxes{
  width:75vw;
  margin-left: -5vw;
  margin-top: 2vw;
  align-self: stretch; 
  justify-content: center; 
  align-items: flex-start; 
  gap: 3vw; 
  display: inline-flex;
}

#synthesis-boxes h3{
  color: #573514;
}

.box{
  width: 30vw; 
  padding:1.5vw;
  background: #F3F0EE; 
  border-radius: 0.5vw; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 0.8vw; 
  display: inline-flex;
}


#hmw{
  margin-top: 6vw;
  width:60vw;
  align-self: scenter; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center; 
  gap: 1.5vw; 
  display: flex;
}

#hmw-text{
  align-self: stretch; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 1.2vw; 
  display: flex;
}

#hmw-box{
  margin-top: 1vw;
  height:13vw;
  padding: 1vw;
  padding-left: 2vw;
  background: #F3F0EE; 
  border-radius: 0.5vw; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  display: flex;
}

.item{
  position: relative;
}

.item p{
  margin-left: 1.2vw;
  margin-top: 1.5vw;
  font-size: 1.5vw;
}

.bullet-point{
  width: 0.5vw; 
  height: 0.5vw; 
  left: 0px; 
  top: 2vw; 
  position: absolute; 
  background: #15161A; 
  border-radius: 3vw;
}

/* ------------------------------ */
/* ------ INITIAL DESIGNS ------- */
/* ------------------------------ */


#mockups{
  width: 60vw; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center; 
  align-self: center;
  gap: 1vw; 
  display: inline-flex;
}

#lowfi{
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 1vw; 
  display: flex;
}

#lowfi-cover{
  align-self: stretch; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start;
  gap: 1vw; 
  display: flex;
}

#lowfi-text{
  align-self: stretch; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 1vw; 
  display: flex;
  word-wrap: break-word;
}


#lowfi-pic-sec{
  margin-top: 3vw;;
  align-self: stretch; 
  justify-content: left; 
  align-items: flex-start; 
  gap: 2vw; 
  display: inline-flex;
}

#lowfi-pic-sec h3{
  color:#404451;
  font-size: 1.6vw;
}

#lowfi-pic-sec img{
  width:100%
}

.lowfi-pic{
  width: 19vw; 
  border: 0.80px #404451 solid;
}

.lowfi-pic-block{
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 1vw; 
  display: inline-flex;
}

/* ------------------------------ */
/* ----------- MID-FI ----------- */
/* ------------------------------ */

#midfi{
  align-self: stretch; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center; 
  gap: 5vw; 
  display: flex;
  margin-top: 5vw;
}

#midfi-text{
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 1vw; 
  display: flex;
}

#midfi-img{
 width: 100vw; 
 margin-top: 1vw;
}

#midfi-img img{
  width:100%;
}

/* ------------------------------ */
/* ----------- HIGH-FI ---------- */
/* ------------------------------ */

#hifi-cover{
  width: 60vw; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center; 
  align-self: center;
  gap: 1vw; 
  display: inline-flex;
}

#hifi-intro{
  align-self: stretch; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 1vw; 
  display: flex;
}

#hifi-intro h2{
  margin:0;
}



#hifi-home{
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 1vw; 
  margin-top: 3vw;
  display: flex;
}

#hifi-home-text{
  align-self: stretch;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 0vw; 
  display: flex;
}

#hifi-home-imgs{
  margin-top: 2vw;
  align-self: stretch; 
  justify-content: flex-start; 
  align-items: center; 
  align-self: center;
  gap: 5vw; 
  display: inline-flex;
}

#hifi-home-imgs h3{
  color:#404451;
}

#hifi-before-after{
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 1vw; 
  display: inline-flex;
}

#hifi-after-img{
  width: 27vw;
  box-shadow: -0.1vw 0.1vw 1vw rgba(83, 51, 19, 0.40); 
  border-radius: 0.5vw;
  overflow: hidden;
}

#hifi-before-img{
  width: 29.5vw;
  box-shadow: -0.1vw 0.1vw 1vw rgba(83, 51, 19, 0.40); 
  border-radius: 0.5vw;
  overflow: hidden;
}

#hifi-before-after img{
  width:100%;
}

#navigation{
  flex-direction: column; 
  justify-content: flex-start; 
  gap: 1.5vw; 
  display: inline-flex;
  width: 40vw;
  height: 46vw;
  /* background-color: red; */
}

#navigation h3{
  font-size: 2.2vw;
}

#nav-img{
  width: 40vw; 
  position:absolute;
  margin-top: 4vw;
  box-shadow: -0.1vw 0.1vw 1vw rgba(83, 51, 19, 0.40); 
  border-radius: 0.5vw; 
  overflow: hidden;
}

#nav-img img{
  width: 100%;
}

.nav-info{
  width: 18vw; 
  position: relative;
  padding: 1vw;
  padding-bottom: 1.5vw;
  padding-top: 0vw;
  background-color: #F3F0EE;
  border-radius: 0.5vw; 
}

.nav-info p{
  color:#573514;
}

#nav-cart{
  bottom: -16vw;
  left:45vw;
}

#nav-cart-line{
  width: 10vw; 
  height:0vw;
  border: 0.1vw #906E4C solid;
  position: relative;
  bottom: -24vw;
  left:38vw;
  rotate: -14deg;
}

#nav-cart-bullet{
  width: 0.7vw; 
  height: 0.7vw; 
  position:relative;
  right: 8vw;
  top: 7.2vw; 
  background: #906E4C; 
  border-radius: 3vw;
}

#nav-toggle{
  bottom: 15vw;
  left:45vw;
}

#nav-toggle-line{
  width: 10vw; 
  height:0vw;
  border: 0.1vw #906E4C solid;
  position: relative;
  bottom: 8.7vw;
  left:39vw;
  rotate: 15deg;
}

#nav-toggle-bullet{
  width: 0.7vw; 
  height: 0.7vw; 
  position:relative;
  left: -7vw;
  top: 3.1vw; 
  background: #906E4C; 
  border-radius: 3vw;
}

#nav-search{
  bottom: 18vw;
  left:-22vw;
}

#nav-search-line{
  width: 9vw; 
  height:0vw;
  border: 0.1vw #906E4C solid;
  position: relative;
  bottom: 12vw;
  left:-7vw;
  rotate: -33deg;
}

#nav-search-bullet{
  width: 0.7vw; 
  height: 0.7vw; 
  position:relative;
  left: 22vw;
  top: 1.7vw; 
  background: #906E4C; 
  border-radius: 3vw;
}


