body{
    background-color: FFFFFF;
    margin:0;
    font-weight: 400;
    color: 15161A;
    font-family: Helvetica Neue, sans-serif;
  }
  
  h1{
  font-weight: 400;
  font-size: 2vw;
  color: 15161A;
  font-family: 'Hedvig Letters Serif', Times, serif;
  }
  
  h2{
  font-size: 1.8vw;
  font-weight: 500;
  color: 15161A;
  font-family: Helvetica Neue, sans-serif;
  }
  
  h3{
    font-size: 1.5vw;
    font-weight: 500;
    margin: 0;
    /* line-height: 200%; */
    padding-top: 1vw;
    padding-bottom: 0.5vw;
    color: 15161A;
    font-family: Helvetica Neue, sans-serif;
  }
  
  p{
    font-size: 1.1vw;
    font-weight: 400;
    color: 15161A;
    line-height: 145%;
    font-family: Helvetica Neue, sans-serif;
    margin:0;
    margin-top: 0.8vw;
  }
  
  a{
    font-style: italic;
    text-decoration: none;
  }
  
  html {
  scroll-behavior: smooth;
  }
  
  #linebreak{
    width:60vw;
    height: 0px; 
    border: 0.1vw #D6CEC6 solid;
    border-radius: 0.15vw; 
    position:relative;
    top: -0.15vw;
    /* margin-left: 20vw; */
    margin-top: 5vw;
    margin-bottom: 5vw;
  }
  
  #bold{
    font-weight: 800;
  }
  
  .pic-shadow{
    box-shadow: -0.1vw 0.1vw 1vw rgba(83, 51, 19, 0.40); 
    border-radius: 0.7vw;
    overflow:hidden;
  }
  
  
  /* ------------------------------ */
  /* ------------ MENU ------------ */
  /* ------------------------------ */
  .menu {
    width: 100vw; 
    height:2vw; 
    min-height: 20px;
    padding-top: 2vw; 
    padding-bottom: 1vw; 
    padding-left: 15vw; 
    padding-right: 15vw; 
    background: rgb(255, 255, 255); 
    justify-content: center; 
    align-items: center; 
    display: inline-flex;
    position: fixed;
    z-index: 10;
  }
  
  .menu h2{
    font-size: 1.5vw;
  }
  
  .menu-left{
    width: 10vw; 
    justify-content: flex-start; 
    align-items: center; 
    display: flex;
    position:fixed;
    left: 3vw;
  }
  
  .menu-right{
    justify-content: flex-start; 
    align-items: center; 
    gap: 3vw; 
    display: flex;
    position:fixed;
    right: 0vw;
    margin-right: 3vw;
  }
  
  .menu a{
    font-style: normal;
  }
  
  .menu a:hover{
    font-style: italic;
  }
  
  
  #home {
    width: 5vw; 
    height: 4vw; 
    bottom: 0;
    overflow: hidden;
    position:relative;
    display:flex;
    word-wrap: break-word;
    justify-content: center;
    align-items: flex-end;
    text-align:center;
  }
  
  #select {
    width: 10vw; 
    height: 0px; 
    border: 0.15vw #15161A solid;
    position:absolute;
    bottom: 0;
  }
  
  .right-item {
    width: 10vw; 
    height: 4vw; 
    overflow: hidden;
    position:relative;
    bottom: 0;
    display:flex;
    word-wrap: break-word;
    justify-content: center;
    align-items: flex-end;
    text-align:center;
  }
  
  /* ------------------------------ */
  /* ------ CASE STUDY COVER ------ */
  /* ------------------------------ */
  
  .container{
    width: 100vw; 
    /* height:38vw; */
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    display: inline-flex;
  
  }
  
  #cover{
    background-color: #F3F0EE;
    height:53vw;
  }
  
  #break{
    height: 3vw;
  }
  
  #cs-cover{
    align-self: center; 
    width:60vw; 
    padding-top: 2vw;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 0vw; 
    display: flex;
    
  }
  
  #cs-cover h1{
    padding-top: 2vw;
    padding-bottom: 1vw;;
    font-size: 3.5vw;
  }
  
  #cs-cover-body{
    width:60vw;
    align-self: center; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 0vw; 
    display: inline-flex;
  }
  
  #cs-cover-left{
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    top:-1vw;
    position:relative;
    display: inline-flex;
  }
  
  .cs-cover-item{
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    width:15vw;
    margin-bottom: 1vw;
  }
  
  
  .cs-cover-item p{
    color: #404451; 
    font-family: Helvetica Neue; 
    font-weight: 400; 
    line-height: 200%; 
    word-wrap: break-word;
    margin-top: 0.2vw;
    margin-bottom: 0;
    max-width: 100%;
  }
  
  .cs-cover-item h3{
    color: #404451; 
  }
  
  .cs-cover-right{
    flex: 1 1 0;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: left; 
    width: calc(50vw - 15vw);
    gap: 2vw; 
    display: inline-flex;
    
  }
  
  .cs-cover-right p{
    color: #404451;  
    word-wrap: break-word;
    font-weight: 350;
    margin: 0;
    line-height: vw;
  }

  #cs-cover-imgs{
    margin-top: 0vw;
    width: 40vw; 
    position: relative;
  }
  
  #left-img{
    width: 13vw; 
    left: 0vw; 
    top: 0; 
    position: absolute; 
  }
  
  #left-img img{
    width:100%;
  }

  #center-img{
    width: 13vw;
    left: 15vw; 
    position: absolute; 
  }

  #center-img img{
    width:100%;
  }
  
  #right-img{
    width: 13vw;
    left: 30vw; 
    position: absolute; 
  }
  
  #right-img img{
    width:100%;
  }

  #cs-cover-left-phone{
    display: none;
  }
  
  #phone-text{
    display:none;
  }
  
  #phone-contact{
    display:none;
  }
  
  
  /* ------------------------------ */
  /* ---------- OVERVIEW ---------- */
  /* ------------------------------ */
  
  #overview{
    padding-top: 4vw;
    width: 56vw; 
    justify-content: left; 
    align-items: flex-start; 
    gap: 4vw; 
    display: inline-flex;
    line-height: 1.5vw;
  }
  
  #overview-left{
    width:22.5vw;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    display: inline-flex;
    
  }
  
  #overview-left h3{
    padding-bottom: 0.5vw;
  }
  
  #problem{
    align-self: stretch; 
    flex-direction: column; 
    justify-content: flex-start;
    align-items: flex-start; 
    display: flex;
  }
  
  #goals{
    align-self: stretch; 
    margin-bottom: 2vw;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: flex-start; 
    display: flex;
  }
  
  #tab{
    margin-left: 1.5vw;
  }
  
  #overview h2{
    font-size: 1.7vw;
    margin:0;
    margin-bottom: 0.4vw;
  }
  
  #overview-right{
    width:30vw;
    height: auto;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    display: inline-flex;
    padding-top: 1vw; 
    /* margin-top: 2vw; */
    padding-left: 1.5vw; 
    padding-right: 1.5vw; 
    background: #F3F0EE; 
    border-radius: 0.7vw; 
    box-sizing: border-box;
  }
  
  #overview-right h3{
    margin-bottom:0.5vw;
    color: #573514
  }

  
  /* ------------------------------ */
  /* ----------- PROCESS ---------- */
  /* ------------------------------ */
  
  #initial-research{
    margin-top: -2vw;
    width: 60vw; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 3vw; 
    display: inline-flex;
  }
  
  #interviews-research{
    align-self: stretch; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: left; 
    gap: 0vw; 
    display: flex;
  }
  
  #user-interviews{
    align-self: stretch;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: flex-start; 
    gap: 0.5vw;
    margin-left: 7vw;
    margin-right: 7vw;
    display: flex;
  }
  
  
  #figjam-imgs{
    width: 27vw; 
    justify-content: center;
    align-items: center; 
    align-self: center;
    gap: 2vw; 
    display: inline-flex;
  }
  
  #figjam-imgs img{
    width: 100%;
    border-radius: 0.5vw; 
    border: 0.15vw #CEBAA6 dotted;
  }
  
  .arrow {
    width: 0;
    height: 0;
    border-top: 1vw solid transparent;
    border-bottom: 1vw solid transparent;
    border-left: 2vw solid #CEBAA6 ;
  }
  
  #research-synthesis{
    align-self: stretch; 
    margin-left: 7vw;
    margin-right: 7vw;
    /* height: 441px;  */
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 2vw; 
    display: flex;
  }
  
  #research-synthesis-text{
    align-self: stretch; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 2vw; 
    display: flex;
    margin-top: 3vw;
  }
  
  #research-synthesis-text p{
    margin-top: -0.5vw;
  }
  
  #synthesis-boxes{
    width:80vw;
    margin-top: 2vw;
    align-self: center; 
    justify-content: center; 
    align-items: flex-start; 
    gap: 3vw; 
    display: inline-flex;
  }
  
  #synthesis-boxes h3{
    color: #573514;
    margin-bottom: -1vw;
  }
  
  .box{
    width: 30vw; 
    height:16vw;
    padding-left:1.5vw;
    padding-top: 0.5vw;
    padding-right:1.5vw;
    padding-bottom:1.5vw;
    background: #F3F0EE; 
    border-radius: 0.5vw; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 0.8vw; 
    display: inline-flex;
  }
  
  
  #hmw{
    margin-top: 6vw;
    width:50vw;
    align-self: scenter; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 1.5vw; 
    display: flex;
    margin-left: 7vw;
    margin-right: 7vw;
  }
  
  #hmw-text{
    align-self: stretch; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 1.2vw; 
    display: flex;
  }
  
  #hmw-box{
    margin-top: 1vw;
    padding: 2vw;
    padding-top: -2vw;
    background: #F3F0EE; 
    border-radius: 0.5vw; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    display: flex;
  }
  
  .item{
    position: relative;
    margin-bottom: 1vw;
  }
  
  .item p{
    margin-left: 1.2vw;
    margin-top: 0.4vw;
  }
  
  .bullet-point{
    width: 0.5vw; 
    height: 0.5vw; 
    left: 0px; 
    top: 1vw; 
    position: absolute; 
    background: #15161A; 
    border-radius: 3vw;
  }
  
  /* ------------------------------ */
  /* ------ INITIAL DESIGNS ------- */
  /* ------------------------------ */
  
  
  #mockups{
    width: 60vw; 
    height:auto;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    align-self: center;
    gap: 1vw; 
    display: inline-flex;
  }
  
  #lowfi{
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 1vw; 
    display: flex;
  }
  
  #lowfi-cover{
    align-self: stretch; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start;
    gap: 1vw; 
    display: flex;
  }
  
  #lowfi-text{
    margin-left: 7vw;
    margin-right: 7vw;
    align-self: stretch; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 1vw; 
    display: flex;
    word-wrap: break-word;
  }
  
  
  #lowfi-pic-sec{
    margin-top: 1vw;
    align-self: stretch; 
    justify-content: left; 
    align-items: flex-start; 
    gap: 4vw; 
    display: inline-flex;
  }
  
  #lowfi-pic-sec h3{
    color:#404451;
    font-size: 1.6vw;
  }
  
  #lowfi-pic-sec img{
    width:100%
  }
  
  .lowfi-pic-desktop{
    width: 17vw; 
    border: 0.80px #404451 solid;
  }

  .lowfi-pic-mobile{
    width: 6vw; 
    margin-left: 13vw; 
    margin-top: 7vw;
    position: absolute; 
    border: 0.80px #404451 solid;
  }
  
  .lowfi-pic-block{
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 1vw; 
    display: inline-flex;
  }
  
  
  /* ------------------------------ */
  /* ----------- HIGH-FI ---------- */
  /* ------------------------------ */
  
  #hifi-cover{
    width: 60vw; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    align-self: center;
    gap: 1vw; 
    display: inline-flex;
  }
  
  #hifi-intro{
    align-self: stretch; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 1vw; 
    display: flex;
  }
  
  #hifi-intro h2{
    margin:0;
  }
  
  #hifi-sec{
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 1vw; 
    margin-top: 3vw;
    margin-bottom: 3vw;
    display: flex;
  }
  
  #hifi-sec-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1vw;
  }

  .home{
    margin-left: 7vw;
    margin-right: 7vw;
  }

  .trip{
    margin-left: 11vw;
    margin-right: 11vw;
  }

  .save{
    margin-left: 9vw;
    margin-right: 9vw;
  }
  
  #hifi-sec-imgs{
    margin-top: 2vw;
    align-self: stretch; 
    justify-content: flex-start; 
    align-items: center; 
    align-self: center; 
    display: inline-flex;
  }

  .further{
    gap: 4vw;
  }

  .closer{
    gap: 2vw;
  }

  #hifi-sec-imgs img{
    width:100%;
  }
  
  #hifi-sec-imgs h3{
    color:#404451;
  }
  
  #hifi-sec-img-1{
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 1vw; 
    display: inline-flex;
  }
  
  #hifi-sec-desktop{
    width: 30vw;
  }
  
  #hifi-sec-mobile{
    width: 10vw; 
  }
  


  #summary{
    width: 60vw; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: left; 
    gap: 1vw; 
    display: inline-flex;
    margin-left: 10vw;
    margin-right: 10vw;
  }
  
  #summary h2{
    margin-bottom: 0vw;
  }



/* ------------------------------------ */
/* ------------NARROW SCREEN----------- */
/* ------------------------------------ */
@media only screen and (max-aspect-ratio: 1/1){
    #home{
      width: 20vw;
    }
  
    .right-item{
      width: 20vw;
    }
  
    .menu h3{
      font-size: 3vw;
    }
  
    #overview{
      display:none;
    }

    #initial-research{
        display:none;
    }

    #linebreak{
        display:none;
    }

    #hmw{
        display:none;
    }

    #mockups{
        display:none;
    }


  
    #cover{
      background-color: ffffff;
      height:100vh;
    }
  
  
    #cs-cover{
      width:80vw;
    }
  
    #cs-cover h1{
      font-size: 7vw;
    }
  
    #cs-cover-body{
      width: 80vw;
      flex-direction: column;
    }
  
    #cs-cover-left{
      display:none;
    }
  
    #cs-cover-imgs{
      width:80vw;
      height:37vh;
      margin-top: 3vw;
      /* background-color: red; */
    }
  
    #left-img{
      width:20vw;
      margin-left: 5vw;
    }

    #center-img{
        width:20vw;
        margin-left:14.5vw
    }
  
    #right-img{
      width:20vw;
      margin-left: 24vw;
    }
  
    #cs-cover-left-phone{
      width:80vw;
      flex-direction: row; 
      display: flex;
    }
  
    .cs-cover-item{
      width:30vw;
      margin-left: 3vw;
    }
  
    .cs-cover-item h3{
      font-size: 4vw;
    }
  
    .cs-cover-item p{
      font-size: 3vw;
    }
  
    .cs-cover-right{
      width:80vw
    }
  
    .cs-cover-right p{
      font-size: 3vw;
    }
  
    #phone-text{
      display:block;
      width: 80vw;
      margin-top: 11vh;
      text-align: center;
    }
    
  
    #phone-text p{
      font-family: 'Hedvig Letters Serif', Times, serif;
      letter-spacing: 0.2vw;
      font-size: 4vw;
      margin-top: -1vh;
      color: #885421;
    }
  
    #phone-contact{
      display:block;
      width: 80vw;
      margin-top: 1vh;
      text-align: center;
    }
  
    #phone-contact p{
      font-family: 'Hedvig Letters Serif', Times, serif;
      letter-spacing: 0.1vw;
      font-size: 3vw;
      margin-top: -1vh;
      text-align: center;
    }
  
    }