body{
    background-color: FFFFFF;
    margin:0;
    font-weight: 400;
    color: 15161A;
    font-family: Helvetica Neue, sans-serif;
}

h1{
  font-weight: 400;
  font-size: 4vw;
  color: 15161A;
  font-family: 'Hedvig Letters Serif', Times, serif;
}

h2{
  font-size: 1.5vw;
  font-weight: 500;
  color: 15161A;
  font-family: Helvetica Neue, sans-serif;
}

a{
    font-style: italic;
    text-decoration: none;
    color: 404451;
}

html {
  scroll-behavior: smooth;
}


/* ------------------------------ */
/* ------------ MENU ------------ */
/* ------------------------------ */
.menu {
  width: 100vw; 
  height:2vw; 
  min-height: 20px;
  padding-top: 2vw; 
  padding-bottom: 1vw; 
  padding-left: 15vw; 
  padding-right: 15vw; 
  background: rgb(255, 255, 255); 
  justify-content: center; 
  align-items: center; 
  display: inline-flex;
  position: fixed;
  z-index: 10;
}

.menu-left{
  width: 10vw; 
  justify-content: flex-start; 
  align-items: center; 
  display: flex;
  position:fixed;
  left: 3vw;
}

.menu-right{
  justify-content: flex-start; 
  align-items: center; 
  gap: 3vw; 
  display: flex;
  position:fixed;
  right: 0vw;
  margin-right: 3vw;
}

.menu a{
  font-style: normal;
}

.menu a:hover{
  font-style: italic;
}


#home {
  width: 5vw; 
  height: 4vw; 
  bottom: 0;
  overflow: hidden;
  position:relative;
  display:flex;
  word-wrap: break-word;
  justify-content: center;
  align-items: flex-end;
  text-align:center;
}

#select {
  width: 10vw; 
  height: 0px; 
  border: 0.15vw #15161A solid;
  position:absolute;
  bottom: 0;
}

.right-item {
  width: 10vw; 
  height: 4vw; 
  overflow: hidden;
  position:relative;
  bottom: 0;
  display:flex;
  word-wrap: break-word;
  justify-content: center;
  align-items: flex-end;
  text-align:center;
}
  

/* ------------------------------ */
/* ----------- STARS ------------ */
/* ------------------------------ */


#star1{
  position:relative;
  width: 4vw;
  margin-left: 0vw;
}
#star1:hover{
  animation: bounce 2s;
}

#star2{
  position:relative;
  width: 5vw;
}
#star2:hover{
  animation: bounce 2s;
}


#star3{
  position:relative;
  width: 5.5vw;
}
#star3:hover{
  animation: bounce 2s;
}


#star4{
  position:relative;
  width: 5vw;
}
#star4:hover{
  animation: bounce 2s;
}


#star5{
  position:relative;
  width: 5.5vw;
}
#star5:hover{
  animation: bounce 2s;
}


#star6{
  position:relative;
  width: 5vw;
}
#star6:hover{
  animation: bounce 2s;
}


#star7{
  position:relative;
  width: 5.5vw;
}
#star7:hover{
  animation: bounce 2s;
}

#star8{
  position:relative;
  width: 5.5vw;
}
#star8:hover{
  animation: bounce 2s;
}



.bounce img{
  width: 100%;
  padding-left: 4vw;
  padding-right: 4vw;
}

.bounce{
  width: 100vw; 
  height: 20vw; 
  padding-left: 50px; 
  padding-right: 50px; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 6vw; 
  display: inline-flex;
  animation: bounce 2s 1;
}


@keyframes bounce {
	0%, 10%, 30%, 60%, 80%, 100% {transform: translateY(0);}
	20% {transform: translateY(-10vh);}
	40% {transform: translateY(-5vh);}
}

#container{
  overflow:hidden;
  margin-top: -1.5vh;
}
/* ------------------------------ */
/* ----------- COVER ------------ */
/* ------------------------------ */
#cover{
    position:absolute;
    /* background-color: D7DBEB; */
    width: 100vw;
    height: calc(100vh - (100vh / 12) - 0.2vh);
    margin:0;
    margin-top: calc(100vh / 12 + 0.2vh);
    margin-left:0vw;
    z-index: 0;
}

#mia{
    position:absolute;
    margin-top: calc(10vh - (100vh / 12));
    margin-left: calc((100vw - 60vw) / 2);
    letter-spacing: 0.5vw;
    width: 60vw; 
    height: 15vw; 
    word-wrap: break-word;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#mia h1{
  font-size: 6vw;
}

#scroll{
  position:absolute;
  margin-left: calc((100vw - 3vw) / 2);
  width:3vw;
  margin-top: 40vh;
  z-index: 10;
}
#scroll img{
  width: 100%;
}

/* ------------------------------ */
/* ----------- INTRO ------------ */
/* ------------------------------ */


#intro-content{
  width:70vw; 
  height: 30vw; 
  position:relative;
  margin-top: calc(40vh - 30vw/2);
  justify-content: flex-start; 
  align-items: center; 
  gap: 7vw; 
  display: inline-flex;
}

#intro{
  margin-top: calc((100vh / 12 + 0.2vh) + 100vh);
  position:absolute;
  width: 100vw;
  height:calc(100vh - (100vh / 12) - 0.2vh);
  justify-content: center;
  align-items: center;
  text-align: center;
}

#me{
  padding-top: 5vh;
  width: 25vw; 
}

#me img{
  width: 100%;
}

#intro-text{
  flex: 1 1 0; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start;
  gap: 0vw;
  display: inline-flex;
  text-align: left;
}

#intro h1{
 word-wrap: break-word;
}

#intro h2{
  align-self: stretch;
  word-wrap: break-word;
  color: 404451;
}
