body{
    background-color: FAF9F8;
    margin:0;
    font-weight:300;
    color: black;
    font-family: 'Lora', serif;
}

a{
    font-style: italic;
    text-decoration: none;
    color: black;
}

html {
  scroll-behavior: smooth;
}


/* ------------------------------ */
/* ------------ MENU ------------ */
/* ------------------------------ */
.menu {
    display: flex;
    justify-content: space-between; /* Distribute space between home and right-group */
    align-items: flex-start; /* Align items to the top */
    width: 100%; 
    height:calc(100vh / 12);
    position:fixed;
    width: 100vw;
    background-color: FAF9F8;
    border-bottom: 0.2vh solid black;
    z-index: 10;
  }

  .menu a{
    font-size: 2vw;
    font-style:normal;
    display: flex;
    margin-top: calc((100vh / 24) - (2vw/2) - 0.2vh);
    color: black;
    z-index: 10;
}

  
  #home {
    margin-left: 5vw; 
  }
  
  .right-group {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    gap: 2vw; 
  }
  
  .right-group > div {
    padding-right: 3vw; 
  }

/* ------------------------------ */
/* ----------- STARS ------------ */
/* ------------------------------ */
#star1{
  position:absolute;
  width: 10vw;
  margin-left: 3vw;
}
#star1:hover{
  animation: bounce 2s;
}

#star2{
  position:absolute;
  width: 5vw;
  margin-left: 18vw;
}
#star2:hover{
  animation: bounce 2s;
}


#star3{
  position:absolute;
  width: 12vw;
  margin-left:27vw;
}
#star3:hover{
  animation: bounce 2s;
}


#star4{
  position:absolute;
  width: 6vw;
  margin-left:45vw;
}
#star4:hover{
  animation: bounce 2s;
}


#star5{
  position:absolute;
  width: 10vw;
  margin-left:60vw;
}
#star5:hover{
  animation: bounce 2s;
}


#star6{
  position:absolute;
  width: 15vw;
  margin-left:70vw;
}
#star6:hover{
  animation: bounce 2s;
}


#star7{
  position:absolute;
  width: 7vw;
  margin-left:90vw;
}
#star7:hover{
  animation: bounce 2s;
}



.bounce img{
  width: 100%;
}

.bounce{
  display: inline-block;
  animation: bounce 2s 1;
}

@keyframes bounce {
	0%, 10%, 30%, 60%, 80%, 100% {transform: translateY(0);}
	20% {transform: translateY(-10vh);}
	40% {transform: translateY(-5vh);}
}
/* ------------------------------ */
/* ----------- COVER ------------ */
/* ------------------------------ */
#cover{
    position:absolute;
    background-color: D7DBEB;
    width: 100vw;
    height: calc(100vh - (100vh / 12) - 0.2vh);
    margin:0;
    margin-top: calc(100vh / 12 + 0.2vh);
    margin-left:0vw;
    z-index: 0;
}

#mia{
    position:absolute;
    font-size: 6vw;
    margin-top: calc(55vh - (100vh / 12));
    margin-left: 23vw;
    letter-spacing: 0.5vw;
}

#scroll{
  position:absolute;
  margin-left: calc((100vw - 5vw) / 2);
  width:4vw;
  margin-top: 80vh;
  z-index: 10;
}
#scroll img{
  width: 100%;
}

/* ------------------------------ */
/* ----------- INTRO ------------ */
/* ------------------------------ */

#intro{
  margin-top: calc((100vh / 12 + 0.2vh) + 100vh);
  position:absolute;
  width: 100vw;
  height:calc(100vh - (100vh / 12) - 0.2vh);
}

.title{
  margin-left: 6vw;
  margin-top: 12vh;
  font-size: 5vw;
  letter-spacing: 0.3vw;
}

.text{
  font-family: 'Inter', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 6vw;
  margin-right: 6vw;
  font-size: 1.5vw;
  letter-spacing: 0.05vw;
}

#linebreak{
  background-color: FAF9F8;
  border-bottom: 0.1vw solid black;
  width: 40vw;
  margin-left: 6vw;
  margin-top: 2vw;
}

#note{
  opacity: 0.4;
}

#warning{
  color: 930202;
  font-weight: 500;
}

/* ------------------------------ */
/* ---------- RESEARCH ---------- */
/* ------------------------------ */


#lmc-mw{
  position:absolute;
  background-color: D7DBEB;
  width: 100vw;
  /* height: calc(100vh - (100vh / 12) - 0.2vh); */
  margin:0;
  margin-top: calc(100vh / 12 + 0.2vh);
  margin-left:0vw;
  z-index: 0;
}

#lmc-mw .small-title{
  margin-left: 8vw;
  margin-top: 12vh;
  font-size: 3vw;
  letter-spacing: 0.3vw;
  border-left: 0.2vw solid black;
  padding-left: 2vw;
}

#tab{
  padding-left: 4vw;
}

.bold{
  font-weight: 600;
}

.paragraph1{
  margin-top: 4vw;
  font-family: 'Inter', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 10vw;
  margin-right: 40vw;
  font-size: 1.5vw;
  letter-spacing: 0.07vw;
  line-height: 2vw;
}

.paragraph2{
  font-family: 'Inter', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 1.5vw;
  letter-spacing: 0.07vw;
  line-height: 2vw;
}


.paragraph3{
  font-family: 'Inter', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 30vw;
  margin-right: 10vw;
  font-size: 1.5vw;
  letter-spacing: 0.07vw;
  line-height: 2vw;
}

/* ------------------------------ */
/* ---------- ABOUT ME ---------- */
/* ------------------------------ */

#abt-me{
  position:absolute;
  background-color: EEEBE9;
  width: 100vw;
  /* height: calc(100vh - (100vh / 12) - 0.2vh); */
  margin:0;
  margin-top: calc(100vh / 12 + 0.2vh);
  margin-left:0vw;
  z-index: 0;
}

#abt-me .small-title{
  margin-left: 30vw;
  margin-top: 12vh;
  font-size: 4vw;
  letter-spacing: 0.3vw;
  padding-left: 2vw;
}

#me-1{
  background-color: blue;
  width: 18vw;
  margin-left: 10vw;
  height: 20vw;
  margin-top: -8.5vh;
}

#me-1 img{
  width: 100%
}

#me-2{
background-color: aquamarine;
}

#abt-me .paragraph1{
  margin-left: 32vw;
  margin-right: 10vw;
  margin-top: -14vh;
}